.lista-filmes {
    width: 85vw;
    height: 400px;
    margin: 14px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

.lista-filmes article {
    width: 100%;
    background-color: #222;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista-filmes strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 25px;
    display: block;
    color: #fff;
}

.lista-filmes img {
    width: 900px;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filmes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: chartreuse;
    text-decoration: none;
    color: #000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.5s;
}

.lista-filmes a:hover {
    background-color: #444;
    color: chartreuse;
}

@media only screen and (max-width: 769px) {
    .lista-filmes {
        display: block;
    }
    .lista-filmes article {
        flex-direction: column;
    }
}
